{% extends "base_template.html" %}
{% block content %}
     <div id="content-wrapper">

        <div class="container-fluid">

          <!-- Breadcrumbs-->
          <ol class="breadcrumb">
            <li class="breadcrumb-item">
                  {% if currentuser == "admin" %}
      <a href="{% url "adminhome" %}">Current Month</a>
      {% else %}
      <a  href="{% url "userhome" %}">Current Month</a>
      {% endif %}
      {% if currentuser == "admin" %}
      <a href="{% url "adminlastmonth" %}">Last Month</a>
      {% else %}
      <a  href="{% url "userlastmonth" %}">Last Month</a>
      {% endif %}
            </li>    
          </ol>

          <!-- Icon Cards-->
          <div class="row">
            <div class="col-xl-3 col-sm-6 mb-3">
              <div class="card text-white bg-primary o-hidden h-100">
                <div class="card-body">
                  <div class="card-body-icon">
                    <i class="fas fa-fw fa-comments"></i>
                  </div>
                  <div class="mr-5">Total Closure {{closejobcount}}</div>
                </div>
              </div>
            </div>



 
        </div>
        <!-- /.container-fluid -->
           <div>
  {{ chart_pie1|safe }}
  <script type="text/javascript" src="http://kozea.github.com/pygal.js/latest/pygal-tooltips.min.js"></script>
   </div>  
           <div>
  {{ bar_graph1|safe }}
  <script type="text/javascript" src="http://kozea.github.com/pygal.js/latest/pygal-tooltips.min.js"></script>
   </div> 
           <div>
  {{ chart_pie3|safe }}
  <script type="text/javascript" src="http://kozea.github.com/pygal.js/latest/pygal-tooltips.min.js"></script>
   </div>       
        <!-- Sticky Footer -->
        <footer class="sticky-footer">
          <div class="container my-auto">
            <div class="copyright text-center my-auto">
              <span>Copyright © Your Website 2018</span>
            </div>
          </div>
        </footer>

      </div>
{% endblock content %}      