<!DOCTYPE html>
{% load staticfiles %}
<style type="text/css">
.navbar-default {
    background-color: #485d89 !important;
    border-color: #E7E7E7;
    border:2px solid #000;
}
.bg-dark {
    background-color: #485d89 !important;
    border-color: #E7E7E7;
    border:2px solid #000;
}
.navbar {
    background-color: #485d89 !important;
    border-color: #E7E7E7;
    border:2px solid #000;
}

.sidebar {
    background-color: #485d89 !important;
    border-color: #E7E7E7;
    border:2px solid #000;
}

* {
  box-sizing: border-box;
}

/* Create two equal columns that floats next to each other */
.column {
  float: left;
  width: 50%;
  padding: 10px;
  height: 300px; /* Should be removed. Only for demonstration */
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.my-custom-scrollbar {
  position: relative;
  height: 200px;
  overflow: auto;
}
.table-wrapper-scroll-y {
  display: block;
}
.table-wrapper-scroll-x {
  display: block;
}

.wrapper { overflow-x: auto; }
.wrapper table { white-space: nowrap }
</style>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Recruiter - Dashboard</title>
    

    <!-- Bootstrap core CSS-->
    <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Custom fonts for this template-->
    <link href="{% static 'vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet" type="text/css">
    
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    
    <script src="https://cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js"></script>
    
    <!-- Page level plugin JavaScript-->
    <script src="{% static 'vendor/chart.js/Chart.min.js' %}"></script>

    <script src="{% static 'vendor/datatables/dataTables.bootstrap4.js' %}"></script>

    <!-- Custom scripts for all pages-->
    <script src="{% static 'js/sb-admin.min.js' %}"></script>

    <!-- Demo scripts for this page-->
    <script src="{% static 'js/demo/datatables-demo.js' %}"></script>
    <script src="{% static 'js/demo/chart-area-demo.js' %}"></script>
   <script src="{% static 'js/datetimepicker_css.js' %}"></script>
	<script src="{% static 'js/bootstrap.min.js' %}"></script>    
    <!-- Bootstrap core JavaScript-->

    <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

    <!-- Core plugin JavaScript-->
    

    <!-- Page level plugin CSS-->
    <!--<link href="{% static 'vendor/datatables/dataTables.bootstrap4.css' %}" rel="stylesheet">-->

    <!-- Custom styles for this template-->
    <link href="{% static 'css/sb-admin.css' %}" rel="stylesheet">
    

    
    

  </head>

  <body id="page-top" onload="Call3()">

    <nav class="navbar navbar-expand navbar-dark static-top" >
      {% if currentuser == "admin" %}
      <a class="navbar-brand mr-1" href="{% url "adminhome" %}">Recruiter Dashboard</a>
      {% else %}
      <a class="navbar-brand mr-1" href="{% url "userhome" %}">Recruiter Dashboard</a>
      {% endif %}
      <button class="btn btn-link btn-sm text-white order-1 order-sm-0" id="sidebarToggle" href="#">
        <i class="fas fa-bars"></i>
      </button>

      <!-- Navbar Search -->
      <form class="d-none d-md-inline-block form-inline ml-auto mr-0 mr-md-3 my-2 my-md-0">

      </form>

      <!-- Navbar -->
      <ul class="navbar-nav ml-auto ml-md-0">
      <div class="container">
    <div class="row">
  
        <div class="span8">
            <div class="row">
                <div class="span4"><font color="red">{{currentuser}}</font></div>

            </div>
            <div class="row">
                <div class="span4"><font color="red">{{ userobject.designation}}</font></div>

            </div>
        </div>
    </div>
 
</div>
 
            {% if currentuser == "admin" %}
                            
                            <img border="0" src="{% static 'images/Profile_Pic.png' %}" alt="Profile Pic" width="70" height="70">
                            
            {% else %}
                            <img border="0" src={{ userobject.picfile.url}} alt="Profile Pic" width="70" height="70">
            {% endif %}
        <li class="nav-item dropdown no-arrow">
          <a class="nav-link dropdown-toggle" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fas fa-user-circle fa-fw"></i>
          </a>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="userDropdown">
          {% if currentuser == "admin" %}
            <a class="dropdown-item" href="{% url "editprofile" %}">Edit Profile</a>
            <a class="dropdown-item" href="{% url "createuser" %}">Create User</a>
            <a class="dropdown-item" href="{% url "addclient" %}">Add Client</a>
            <a class="dropdown-item" href="{% url "addvendor" %}">Add Vendor</a>
            <a class="dropdown-item" href="{% url "addskills" %}">Add Skills</a>
            <a class="dropdown-item" href="{% url "createjob" %}">Create Job</a>
            <a class="dropdown-item" href="{% url "assignjob" %}">Assign Job</a>
            <a class="dropdown-item" href="{% url "generatereport" %}">Generate Report</a>
            <a class="dropdown-item" href="{% url "generatechart" %}">Generate Chart</a>
            <a class="dropdown-item" href="{% url "changejobstatus" %}">Change Job Status</a>
            <a class="dropdown-item" href="{% url "logout" %}">Logout</a>  
          {% else %}  
            <a class="dropdown-item" href="{% url "editprofile" %}">Edit Profile</a>
            <a class="dropdown-item" href="{% url "logout" %}">Logout</a>
           {% endif %}
          </div>
        </li>
      </ul>

    </nav>

    <div id="wrapper">

      <!-- Sidebar -->
      <ul class="sidebar navbar-nav">
        <li class="nav-item active">
      {% if currentuser == "admin" %}
      <a class="nav-link" href="{% url "adminhome" %}">
      {% else %}
      <a class="nav-link" href="{% url "userhome" %}">
      {% endif %}
      
          
            <i class="fas fa-fw fa-tachometer-alt"></i>
            <span>Dashboard</span>
          </a>
        </li>
        <li class="nav-item">
            {% if currentuser == "admin" %} 
            <a class="nav-link" href="{% url "openrequirement" %}">Open Requirements</a>
            <a class="nav-link" href="{% url "searchresume" %}">Resume Database</a>
            {% else %}
            <a class="nav-link" href="{% url "uploadresume" %}">Upload Resume</a>
            <a class="nav-link" href="{% url "scheduleinterview" %}">Schedule Interview</a>
            <a class="nav-link" href="{% url "openrequirement" %}">Open Requirements</a>
            <a class="nav-link" href="{% url "searchresume" %}">Resume Database</a>
            {% endif %}
        </li>
      </ul>
        
      {% block content %}{% endblock content %}
 
      <!-- /.content-wrapper -->

    </div>
    <!-- /#wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
      <i class="fas fa-angle-up"></i>
    </a>

    <!-- Logout Modal-->
    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
            <button class="close" type="button" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">×</span>
            </button>
          </div>
          <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
          <div class="modal-footer">
            <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
            <a class="btn btn-primary" href="login.html">Logout</a>
          </div>
        </div>
      </div>
    </div>

<div class="modal fade" id="modal-book" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
      </div>
    </div>
 </div>


<script>
    $(document).ready(function(){
      var date_input=$('input[name="birthdate"]'); //our date input has the name "date"
      var container=$('.bootstrap-iso form').length>0 ? $('.bootstrap-iso form').parent() : "body";
      var options={
        format: 'mm/dd/yyyy',
        container: container,
        todayHighlight: true,
        autoclose: true,
      };
      date_input.datepicker(options);
    })
</script>        
<script>
    $(document).ready(function(){
      var date_input=$('input[name="startdate"]'); //our date input has the name "date"
      var container=$('.bootstrap-iso form').length>0 ? $('.bootstrap-iso form').parent() : "body";
      var options={
        format: 'mm/dd/yyyy',
        container: container,
        todayHighlight: true,
        autoclose: true,
      };
      date_input.datepicker(options);
    })
</script>    
<script>
    $(document).ready(function(){
      var date_input=$('input[name="enddate"]'); //our date input has the name "date"
      var container=$('.bootstrap-iso form').length>0 ? $('.bootstrap-iso form').parent() : "body";
      var options={
        format: 'mm/dd/yyyy',
        container: container,
        todayHighlight: true,
        autoclose: true,
      };
      date_input.datepicker(options);
    })
</script> 
	<script>
function Call3()
	{
		
                     document.getElementById("username1").value = "{{userobject.username}}".replace(/&quot;/g,"\"")
					document.getElementById("email1").value = "{{userobject.email}}".replace(/&quot;/g,"\"")
					document.getElementById("password1").value = "{{userobject.password}}".replace(/&quot;/g,"\"")
					document.getElementById("designation1").value = "{{userobject.designation}}".replace(/&quot;/g,"\"")
					document.getElementById("gender1").value = "{{userobject.gender}}".replace(/&quot;/g,"\"")
					document.getElementById("birthdate1").value = "{{userobject.birthdate}}".replace(/&quot;/g,"\"")
                    document.getElementById("mobile1").value = "{{userobject.mobile}}".replace(/&quot;/g,"\"")

					
				
			return true;
	
	}
	  </script>
	<script>
function Call2()
	{
		
            
			selectedval = document.getElementById("vendorname").value;
            selectjobdescription = document.getElementById("jobrole");
            selectjobdescription.innerHTML = "";
			{% for b in obj3 %}
				 var json = "{{b.vendorname_id}}".replace(/&quot;/g,"\"")
                 
				 if(selectedval==json)
				 {
                        selectedval.innerHTML = "";
                        // Populate list with options:
 
                            
                            var opt = "{{b.jobrole}}".replace(/&quot;/g,"\"");
                            
                            
                            
                            var el = document.createElement("option");
                                el.text = opt;
                                el.value = opt;
                                selectjobdescription.add(el);
					
				 }
				 
			{% endfor %}
			return true;
	
	}
	  </script>
      
      
	<script>
function Call4()
	{
		
            
			selectedval = document.getElementById("clientname").value;
            selectjobdescription = document.getElementById("jobrole");
            selectjobdescription.innerHTML = "";
			{% for b in obj3 %}
				 var json = "{{b.clientname_id}}".replace(/&quot;/g,"\"")
                 
				 if(selectedval==json)
				 {
                        selectedval.innerHTML = "";
                        // Populate list with options:
 
                            
                            var opt = "{{b.jobrole}}".replace(/&quot;/g,"\"");
                            
                            
                            
                            var el = document.createElement("option");
                                el.text = opt;
                                el.value = opt;
                                selectjobdescription.add(el);
					
				 }
				 
			{% endfor %}
			return true;
	
	}
	  </script>      
<script>      
$(document).ready(function() {
    $('#example').DataTable();
} );
</script>   

<script>
$(function () {

  /* Functions */

  var loadForm = function () {
    var btn = $(this);     
    $.ajax({
      url: btn.attr("data-url"),      
      type: 'get',
      dataType: 'json',
      beforeSend: function () {
        $("#modal-book").modal("show");
      },
      success: function (data) {
        $("#modal-book .modal-content").html(data.html_form);
      }
    });
  };

  var saveForm = function () {
    var form = $(this);
    $.ajax({
      url: form.attr("action"),
      data: form.serialize(),
      type: form.attr("method"),
      dataType: 'json',
      success: function (data) {
        if (data.form_is_valid) {
          $("#example tbody").html(data.html_book_list);
          $("#modal-book").modal("hide");
        }
        else {
          $("#modal-book .modal-content").html(data.html_form);
        }
      }
    });
    return false;
  };


  /* Binding */



  // Update book
  $("#example").on("click", ".js-update-book", loadForm);
  $("#modal-book").on("submit", ".js-book-update-form", saveForm);
  
    // Update book
  $("#example").on("click", ".js-update-book", loadForm);
  $("#modal-book-resume").on("submit", ".js-book-update-form", saveForm);

});
</script>



<!-- Isolated Version of Bootstrap, not needed if your site already uses Bootstrap -->
<link rel="stylesheet" href="https://formden.com/static/cdn/bootstrap-iso.css" />




<!-- Bootstrap Date-Picker Plugin -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/js/bootstrap-datepicker.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/css/bootstrap-datepicker3.css"/>  
  </body>

</html>
