<!DOCTYPE html>
{% load staticfiles %}
<style type="text/css">

* {
  box-sizing: border-box;
}

/* Create two equal columns that floats next to each other */
.column {
  float: left;
  width: 50%;
  padding: 10px;
  height: 300px; /* Should be removed. Only for demonstration */
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.my-custom-scrollbar {
  position: relative;
  height: 200px;
  overflow: auto;
}
.table-wrapper-scroll-y {
  display: block;
}
.table-wrapper-scroll-x {
  display: block;
}

.wrapper { overflow-x: auto; }
.wrapper table { white-space: nowrap }

.two-column-div {
 column-count: 2;
}

.tooltip-inner {
    max-width: 350px;
}

.tooltip-inner {
 word-break: break-all;
}


</style>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Recruiter - Dashboard</title>
    


    <script type="text/javascript" src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    
    <script src="https://cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js"></script>
    
    <!-- Bootstrap core CSS-->
    <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Custom fonts for this template-->
    <link href="{% static 'vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet" type="text/css">
    

    <!-- Page level plugin JavaScript-->
    <script src="{% static 'vendor/chart.js/Chart.min.js' %}"></script>

    <script src="{% static 'vendor/datatables/dataTables.bootstrap4.js' %}"></script>

    <!-- Custom scripts for all pages-->
    <script src="{% static 'js/sb-admin.min.js' %}"></script>

    <!-- Demo scripts for this page-->
    <script src="{% static 'js/demo/datatables-demo.js' %}"></script>
    <script src="{% static 'js/demo/chart-area-demo.js' %}"></script>
   <script src="{% static 'js/datetimepicker_css.js' %}"></script>
	<script src="{% static 'js/bootstrap.min.js' %}"></script>    
    <!-- Bootstrap core JavaScript-->

    <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

    <!-- Core plugin JavaScript-->
    

    <!-- Page level plugin CSS-->
    <!--<link href="{% static 'vendor/datatables/dataTables.bootstrap4.css' %}" rel="stylesheet">-->

    <!-- Custom styles for this template-->
    <link href="{% static 'css/sb-admin.css' %}" rel="stylesheet">


    <link rel="apple-touch-icon" href="{% static 'images/favicon.png' %}">
    <link rel="shortcut icon" href="{% static 'images/favicon.png' %}">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/normalize.css@8.0.0/normalize.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/font-awesome@4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/lykmapipo/themify-icons@0.1.2/css/themify-icons.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/pixeden-stroke-7-icon@1.2.3/pe-icon-7-stroke/dist/pe-icon-7-stroke.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/flag-icon-css/3.2.0/css/flag-icon.min.css">
    <link rel="stylesheet" href="{% static 'assets/css/cs-skin-elastic.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/lib/datatable/dataTables.bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/style.css' %}">

    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800' rel='stylesheet' type='text/css'>

<script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>



  </head>

  <body id="page-top" onload="Call3()">


 
        <!-- Left Panel -->
    <aside id="left-panel" class="left-panel">
        <nav class="navbar navbar-expand-sm navbar-default">
            <div id="main-menu" class="main-menu collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li class="active">
                        {% if currentuser == "admin" %}
                        <a href="{% url "adminhome" %}"><i class="menu-icon fa fa-laptop"></i>Dashboard</a>
                        {% else %}
                        <a href="{% url "userhome" %}"><i class="menu-icon fa fa-laptop"></i>Dashboard</a>
                        {% endif %}
                    </li>
                    {% if currentuser == "admin" %}
                     <li>
                        <a href="{% url "openrequirement" %}"><i class="menu-icon fa fa-clipboard"></i>Open Requirements</a>
                    </li>
                     <li>
                        <a href="{% url "searchresume" %}"><i class="menu-icon fa fa-database"></i>Resume Database</a>
                    </li>
                    {% else %}
                     <li>
                        <a href="{% url "uploadresume" %}"><i class="menu-icon fa fa-clipboard"></i>Upload Resume</a>
                    </li>
                     <li>
                        <a href="{% url "scheduleinterview" %}"><i class="menu-icon fa fa-clipboard"></i>Schedule Interview</a>
                    </li>                    
                     <li>
                        <a href="{% url "openrequirement" %}"><i class="menu-icon fa fa-clipboard"></i>Open Requirements</a>
                    </li>
                     <li>
                        <a href="{% url "searchresume" %}"><i class="menu-icon fa fa-database"></i>Resume Database</a>
                    </li>                    
                    {% endif %}
                </ul>
            </div><!-- /.navbar-collapse -->
        </nav>
    </aside>
    <!-- /#left-panel -->
    
      <!-- Right Panel -->
    <div id="right-panel" class="right-panel">
        <!-- Header-->
        <header id="header" class="header">
            <div class="top-left">
                <div class="navbar-header">
                    <a class="navbar-brand" href="./"><img src="{% static 'images/logo.png' %}" alt="Logo"></a>
                    <a class="navbar-brand hidden" href="./"><img src="{% static 'images/logo.png' %}" alt="Logo"></a>
                    <a id="menuToggle" class="menutoggle"><i class="fa fa-bars" style="color: white"></i></a>
                </div>
            </div>
            <div class="top-right">
                <div class="header-menu">
                    <div class="header-left">
                        <button class="search-trigger"><i class="fa fa-search" style="color: white"></i></button>
                        <div class="form-inline">
                            <form class="search-form">
                                <input class="form-control mr-sm-2" type="text" placeholder="Search ..." aria-label="Search">
                                <button class="search-close" type="submit"><i class="fa fa-close"></i></button>
                            </form>
                        </div>

                    </div>

                    <div class="user-area dropdown float-right">
                        <a href="#" class="dropdown-toggle active" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            {% if currentuser == "admin" %}                           
                             <img class="user-avatar rounded-circle" src="{% static 'images/admin.jpg' %}" alt="User Avatar"> <h4 style="color: white;padding-left: 10px;"> Admin</h4>                             
            {% else %}
                             <img class="user-avatar rounded-circle" src={{ userobject.picfile.url}} alt="User Avatar"> <h4 style="color: white;padding-left: 10px;">{{ userobject.designation}}</h4>                             
            {% endif %}                        

                        </a>

                        <div class="user-menu dropdown-menu">
                                          
                            {% if currentuser == "admin" %}
                            <a class="nav-link" href="{% url "editprofile" %}"><i class="fa fa-user"></i>Edit Profile</a>

                            <a class="nav-link" href="{% url "createuser" %}"><i class="fa fa-user-plus"></i>Create user</a>
                            
                            <a class="nav-link" href="{% url "addclient" %}"><i class="fa fa-user-plus"></i>Add Client</a>
                            
                            <a class="nav-link" href="{% url "addvendor" %}"><i class="fa fa-user-o"></i>Add vendor</a>
                            
                            <a class="nav-link" href="{% url "addskills" %}"><i class="fa fa-plus-circle"></i>Add skills</a>
                            
                            <a class="nav-link" href="{% url "createjob" %}"><i class="fa fa-bell"></i>Create Job</a>
                            
                            <a class="nav-link" href="{% url "assignjob" %}"><i class="fa fa-bell-o"></i>Assign Job</a>
                            
                            <a class="nav-link" href="{% url "generatereport" %}"><i class="fa fa-bullhorn"></i>Generate Report</a>
                            
                            <a class="nav-link" href="{% url "generatechart" %}"><i class="fa fa-area-chart"></i>Generate Chart</a>

                            <a class="nav-link" href="{% url "changejobstatus" %}"><i class="fa fa-cog"></i>Change Job status</a>

                            <a class="nav-link" href="{% url "logout" %}"><i class="fa fa-power-off"></i>Logout</a>
                            {% else %}
                            <a class="nav-link" href="{% url "editprofile" %}"><i class="fa fa-user"></i>Edit Profile</a>

                            <a class="nav-link" href="{% url "logout" %}"><i class="fa fa-power-off"></i>Logout</a>       {% endif %}                              
                            
                        </div>
                    </div>

                </div>
            </div>
        </header>
        <!-- /#header -->
        <!-- Content -->
        <div class="content">
            <!-- Animated -->
            <div class="animated fadeIn">

      {% block content %}{% endblock content %}
 
            </div>
            <!-- .animated -->
        </div>
        <!-- /.content -->
        <div class="clearfix"></div>
     
    </div>
    <!-- /#right-panel -->    
          

 
      <!-- /.content-wrapper -->



    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
      <i class="fas fa-angle-up"></i>
    </a>

    <!-- Logout Modal-->
    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
            <button class="close" type="button" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">×</span>
            </button>
          </div>
          <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
          <div class="modal-footer">
            <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
            <a class="btn btn-primary" href="login.html">Logout</a>
          </div>
        </div>
      </div>
    </div>

<div class="modal fade" id="modal-book" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
      </div>
    </div>
 </div>


<script>
    $(document).ready(function(){
      var date_input=$('input[name="birthdate"]'); //our date input has the name "date"
      var container=$('.bootstrap-iso form').length>0 ? $('.bootstrap-iso form').parent() : "body";
      var options={
        format: 'mm/dd/yyyy',
        container: container,
        todayHighlight: true,
        autoclose: true,
      };
      date_input.datepicker(options);
    })
</script>        
<script>
    $(document).ready(function(){
      var date_input=$('input[name="startdate"]'); //our date input has the name "date"
      var container=$('.bootstrap-iso form').length>0 ? $('.bootstrap-iso form').parent() : "body";
      var options={
        format: 'mm/dd/yyyy',
        container: container,
        todayHighlight: true,
        autoclose: true,
      };
      date_input.datepicker(options);
    })
</script>    
<script>
    $(document).ready(function(){
      var date_input=$('input[name="enddate"]'); //our date input has the name "date"
      var container=$('.bootstrap-iso form').length>0 ? $('.bootstrap-iso form').parent() : "body";
      var options={
        format: 'mm/dd/yyyy',
        container: container,
        todayHighlight: true,
        autoclose: true,
      };
      date_input.datepicker(options);
    })
</script> 
	<script>
function Call3()
	{
		
                     document.getElementById("username1").value = "{{userobject.username}}".replace(/&quot;/g,"\"")
					document.getElementById("email1").value = "{{userobject.email}}".replace(/&quot;/g,"\"")
					document.getElementById("password1").value = "{{userobject.password}}".replace(/&quot;/g,"\"")
					document.getElementById("designation1").value = "{{userobject.designation}}".replace(/&quot;/g,"\"")
					document.getElementById("gender1").value = "{{userobject.gender}}".replace(/&quot;/g,"\"")
					document.getElementById("birthdate1").value = "{{userobject.birthdate}}".replace(/&quot;/g,"\"")
                    document.getElementById("mobile1").value = "{{userobject.mobile}}".replace(/&quot;/g,"\"")

					
				
			return true;
	
	}
	  </script>
	<script>
function Call2()
	{
		
            
			selectedval = document.getElementById("vendorname").value;
            selectjobdescription = document.getElementById("jobtitle");
            selectjobdescription.innerHTML = "";
			{% for b in obj3 %}
				 var json = "{{b.vendorname_id}}".replace(/&quot;/g,"\"")
                 
				 if(selectedval==json)
				 {
                        selectedval.innerHTML = "";
                        // Populate list with options:
 
                            
                            var opt = "{{b.jobtitle}}".replace(/&quot;/g,"\"");
                            
                            
                            
                            var el = document.createElement("option");
                                el.text = opt;
                                el.value = opt;
                                selectjobdescription.add(el);
					
				 }
				 
			{% endfor %}
			return true;
	
	}
	  </script>
      
      
	<script>
function Call4()
	{
		
            
			selectedval = document.getElementById("clientname").value;
            selectjobdescription = document.getElementById("jobtitle");
            selectjobdescription.innerHTML = "";
			{% for b in obj3 %}
				 var json = "{{b.clientname_id}}".replace(/&quot;/g,"\"")
                 
				 if(selectedval==json)
				 {
                        selectedval.innerHTML = "";
                        // Populate list with options:
 
                            
                            var opt = "{{b.jobtitle}}".replace(/&quot;/g,"\"");
                            
                            
                            
                            var el = document.createElement("option");
                                el.text = opt;
                                el.value = opt;
                                selectjobdescription.add(el);
					
				 }
				 
			{% endfor %}
			return true;
	
	}
	  </script>      
      
      
   
      
<script>      
$(document).ready(function() {
    $('#example').DataTable();
} );
</script>   

<script>
$(document).ready(function(){
  $('[data-toggle="popover"]').popover(); 
});
</script>
<script>
$(document).ready(function(){
  $('[data-toggle="tooltip"]').tooltip(); 
});
</script>

<script>
$(document).ready(function () {
  $("a").tooltip({
    'selector': '',
    'placement': 'top',
    'container':'body'
  });
});
</script>

<script>
$(document).ready(function () {

  /* Functions */

  var loadForm = function () {
    var btn = $(this);     
    $.ajax({
      url: btn.attr("data-url"),      
      type: 'get',
      dataType: 'json',
      beforeSend: function () {
        $("#modal-book").modal("show");
      },
      success: function (data) {
        $("#modal-book .modal-content").html(data.html_form);
      }
    });
  };

  var saveForm = function () {
    var form = $(this);
    $.ajax({
      url: form.attr("action"),
      data: form.serialize(),
      type: form.attr("method"),
      dataType: 'json',
      success: function (data) {
        if (data.form_is_valid) {
          $("#example tbody").html(data.html_book_list);
          $("#modal-book").modal("hide");
        }
        else {
          $("#modal-book .modal-content").html(data.html_form);
        }
      }
    });
    return false;
  };


  /* Binding */



  // Update book
  $("#example").on("click", ".js-update-book", loadForm);
  $("#modal-book").on("submit", ".js-book-update-form", saveForm);
  
    // Update book
  $("#example").on("click", ".js-update-book", loadForm);
  $("#modal-book-resume").on("submit", ".js-book-update-form", saveForm);

});
</script>



<!-- Isolated Version of Bootstrap, not needed if your site already uses Bootstrap -->
<link rel="stylesheet" href="https://formden.com/static/cdn/bootstrap-iso.css" />

    <!-- Scripts -->
    <script src="https://cdn.jsdelivr.net/npm/jquery@2.2.4/dist/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.4/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery-match-height@0.7.2/dist/jquery.matchHeight.min.js"></script>
    <script src="{% static 'assets/js/main.js' %}"></script>


    
    
        <script type="text/javascript" src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
   <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<!-- Bootstrap Date-Picker Plugin -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/js/bootstrap-datepicker.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/css/bootstrap-datepicker3.css"/> 
    

  </body>

</html>
