{% extends "base_template.html" %}
{% block content %}

      <div id="content-wrapper">

        <div class="container-fluid">

        
          <!-- Breadcrumbs-->
          <ol class="breadcrumb">   
<form id="contactform" method="post" enctype="multipart/form-data">
{% csrf_token %}    
 
<div class="form-group">
<label for="FormControlTextarea1">Client Name</label>
<select class="custom-select" name="clientname" id="clientname" onchange="return Call4();"style="text-align:right;" required="">
<option value="">Select Client</option>
{% for b in clientobj %}
<option value="{{ b.clientname}}">{{ b.clientname}}</option>
{% endfor %}
</select>
</div> 

<div class="form-group">
<label for="FormControlTextarea1">Vendor Name</label>
<select class="custom-select" name="vendorname" id="vendorname" onchange="return Call2();"style="text-align:right;" required="">
<option value="">Select Vendor</option>
{% for b in obj %}
<option value="{{ b.vendorname}}">{{ b.vendorname}}</option>
{% endfor %}
</select>
</div> 
         
<div class="form-group">    
<label for="FormControlTextarea1">Job Title</label>    
<select class="custom-select" name="jobtitle" id="jobtitle" style="text-align:right;" required="">
<option value="">Select Job Title</option>
</select>
</div> 
                
<div class="form-group">    
<label for="FormControlTextarea1">Job Status</label>    
<select class="custom-select" name="jobstatus" id="jobstatus" style="text-align:right;" required="">
<option value="">Select Status</option>

<option value="open">open</option>
<option value="closed">close</option>
</select>
</div>    
  
  <button type="submit" class="btn btn-primary">Submit</button>
</form     
          </ol>

    
        </div>
        <!-- /.container-fluid -->

        <!-- Sticky Footer -->
        <footer class="sticky-footer">
          <div class="container my-auto">
            <div class="copyright text-center my-auto">
              <span>Copyright © Your Website 2018</span>
            </div>
          </div>
        </footer>

      </div>
      <!-- /.content-wrapper -->
{% endblock content %} 