{% extends "base_template.html" %}
{% block content %}
      <div id="content-wrapper">

        <div class="container-fluid">

        
          <!-- Breadcrumbs-->
          <ol class="breadcrumb">   
<form id="contactform" method="post" enctype="multipart/form-data">
{% csrf_token %}    
<div class="form-group">
<label for="FormControlTextarea1">Vendor Name</label>
<select class="custom-select" name="vendorname" id="vendorname" onchange="return Call2();"style="text-align:right;" required="">
<option value="">Select Vendor</option>
{% for b in obj %}
<option value="{{ b.vendorname}}">{{ b.vendorname}}</option>
{% endfor %}
</select>
</div> 
  <div class="form-group">
    <label for="FormControlTextarea1">Job Role</label>
    <input type="text" class="form-control" id="jobrole"  name="jobrole">
  </div> 

    <label for="FormControlTextarea1">Job Description</label>
    <input type="text" class="form-control" id="jobdescription"  name="jobdescription">
  </div> 
  <button type="submit" class="btn btn-primary">Submit</button>
</form     
          </ol>

    
        </div>
        <!-- /.container-fluid -->

        <!-- Sticky Footer -->
        <footer class="sticky-footer">
          <div class="container my-auto">
            <div class="copyright text-center my-auto">
              <span>Copyright © Your Website 2018</span>
            </div>
          </div>
        </footer>

      </div>
      <!-- /.content-wrapper -->
{% endblock content %}        