{% extends "base_template.html" %}
{% block content %}

      <div id="content-wrapper">

        <div class="container-fluid">

        
          <!-- Breadcrumbs-->
          <ol class="breadcrumb">   
<form id="contactform" method="post" enctype="multipart/form-data">
{% csrf_token %} 
   
</form     
          </ol>

    
        </div>
        <!-- /.container-fluid -->
<table id="example" class="table table-striped table-bordered" style="width:100%">
  <thead>
    <tr>
      <th class="th-sm">Client

      </th>
      <th class="th-sm">Job Role

      </th>
      <th class="th-sm">Date Opened

      </th>
      <th class="th-sm">Assigned To

      </th>
      <th class="th-sm">Resume Sourced

      </th>
    <th class="th-sm">Interview Scheduled
      </th>      
      </th>
    <th class="th-sm">Accepted
      </th>         
      </th>
    <th class="th-sm">Rejected
      </th>         
      </th>
    <th class="th-sm">Status
      </th>         
    </tr>
  </thead>
  <tbody>
{% for value in objdict %}  
    <tr>
      <td>{{value.0}}</td>
      <td>{{value.1}}</td>
      <td>{{value.4}}</td>
      <td>{{value.2}}</td>
      <td>{{value.5}}</td>
      <td>{{value.6}}</td>
      <td>{{value.7}}</td>
      <td>{{value.8}}</td>
      <td>{{value.3}}</td>
    </tr>
 {% endfor %}  
  </tbody>
</table>


        <!-- Sticky Footer -->
        <footer class="sticky-footer">
          <div class="container my-auto">
            <div class="copyright text-center my-auto">
              <span>Copyright © Your Website 2018</span>
            </div>
          </div>
        </footer>

      </div>
      <!-- /.content-wrapper -->
{% endblock content %}        