{% extends "base_template.html" %}
{% block content %}
   
<form id="contactform" method="post" enctype="multipart/form-data">
{% csrf_token %}    
 
   <div class="form-group">
    <label for="FormControlTextarea1">Candidate Name</label>
    <input type="text" class="form-control" id="candidatename"  name="candidatename">
  </div>   
  
   <div class="form-group">
    <label for="exampleInputEmail1">Candidate Email address</label>
    <input type="email" class="form-control" id="candidateemail" name="candidateemail" aria-describedby="emailHelp" placeholder="Enter email">
  </div>
  
  <div class="form-group">
  <label for="example-tel-input">Telephone Number</label>
    <input class="form-control" type="tel" value="1-(555)-555-5555" id="contactnumber" name="contactnumber">
</div>
  
     <div class="form-group">
    <label for="FormControlTextarea1">Skype ID</label>
    <input type="text" class="form-control" id="skypeid"  name="skypeid">
  </div>  
  
<div class="form-group">    
<label for="FormControlTextarea1">Technical Skills</label>    
<select class="custom-select" name="skillname" id="skillname" style="text-align:right;" required="">
<option value="">Select Technical Skills</option>
{% for b in obj %}
<option value="{{ b.primaryskill}}">{{ b.primaryskill}}</option>
{% endfor %}
</select>
</div>   
  <div class="form-group">
    <label for="FormControlTextarea1">Total Experience</label>
    <input type="text" class="form-control" id="experience"  name="experience">
  </div>    
  
    <div class="form-group">
    <label for="FormControlTextarea1">Visa Status</label>
    <input type="text" class="form-control" id="visastatus"  name="visastatus">
  </div>     
  
    <div class="form-group">
    <label for="FormControlTextarea1">Buy Rate</label>
    <input type="text" class="form-control" id="buyrate"  name="buyrate">
  </div>    
  
    <div class="form-group">    
    <label for="FormControlTextarea1">Availability</label>    
    <select class="custom-select" name="availability" id="availability" style="text-align:right;" required="">
    <option value="">Select Availability</option>
    <option value="immediate">immediate</option>
    <option value="1week">1week</option>
    <option value="2week">2week</option>
    <option value="yes">yes</option>
    <option value="no">no</option>
    </select>
    </div>   
    
<br>
<div class="input-group">
  <div class="input-group-prepend">
    <span class="input-group-text" id="inputGroupFileAddon01">Upload Resume</span>
  </div>
  <div class="custom-file">
    <input type="file" class="custom-file-input" id="inputGroupFile01" name="inputGroupFile01" aria-describedby="inputGroupFileAddon01">
    <label class="custom-file-label" for="inputGroupFile01">Choose file</label>
  </div>
</div>

<br>
<div class="input-group">
  <div class="input-group-prepend">
    <span class="input-group-text">Remarks</span>
  </div>
  <textarea class="form-control" aria-label="Remarks" id="remarks"  name="remarks" cols="20" rows="10"></textarea>
</div>  
                
  
<br>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>     
{% endblock content %}      