{% extends "base_template.html" %}
{% block content %}

     <div id="content-wrapper">

        <div class="container-fluid">
        
                <!-- Buttons  -->
                <div class="row">
                    <div class="col-lg-3 col-md-6">
                    {% if currentuser == "admin" %}

                       <a href="{% url "adminhome" %}" class="btn btn-primary btn-lg btn-block" role="button">Current Month</a>
                    {% else %}
                       <a href="{% url "userhome" %}" class="btn btn-primary btn-lg btn-block" role="button">Current Month</a>                                      
                    {% endif %}
                    </div>

                    <div class="col-lg-3 col-md-6">
                      {% if currentuser == "admin" %}
                      <a href="{% url "adminlastmonth" %}" class="btn btn-primary btn-lg btn-block" role="button">Last Month</a>
                      {% else %}
                     <a href="{% url "userlastmonth" %}" class="btn btn-primary btn-lg btn-block" role="button">Last Month</a>
                      {% endif %}
                    </div>

                    <div class="col-lg-3 col-md-6"> 
                        
                    </div>

                    <div class="col-lg-3 col-md-6">
                        <button type="button" class="btn btn-outline-primary btn-lg btn-block">Total Closure {{closejobcount}}</button>
                    </div>
                </div>
                <!-- /Buttons -->        




 
        </div>



 
        </div>

           <div>
  {{ chart_pie1|safe }}
  <script type="text/javascript" src="http://kozea.github.com/pygal.js/latest/pygal-tooltips.min.js"></script>
   </div>  
           <div>
  {{ bar_graph1|safe }}
  <script type="text/javascript" src="http://kozea.github.com/pygal.js/latest/pygal-tooltips.min.js"></script>
   </div> 
           <div>
  {{ chart_pie3|safe }}
  <script type="text/javascript" src="http://kozea.github.com/pygal.js/latest/pygal-tooltips.min.js"></script>
   </div>       

{% endblock content %}      